@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --background-white: #fff;
}



body {
  background: var(--background-white);
  width: 100vw;
}


@layer components {
  .btn {
    width: max-content;
    height: max-content;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.25rem;
    border-radius: 0.4375rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    gap: 0.625rem;
    transition-duration: 0.2s;
    transition-property: all;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.contact-us-background-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(255, 251, 242, 1) 29.5%,
    rgba(255, 179, 65, 1) 29.5%
  );
  @media (max-width: 1240px) {
    background-image: linear-gradient(
      180deg,
      rgba(255, 251, 242, 1) 10rem,
      rgba(255, 179, 65, 1) 10rem
    );
  }
}

.about-us-background-gradient {
  background-image: linear-gradient(
    90deg,
    rgba(255, 251, 242, 1) 0%,
    rgba(255, 251, 242, 1) calc(50% - 29.3125rem - 251px),
    rgba(255, 179, 65, 1) calc(50% - 29.3125rem - 251px),
    rgba(255, 179, 65, 1) calc(50% - 29.3125rem),
    rgba(255, 251, 242, 1) calc(50% - 29.3125rem)
  );
  @media (max-width: 1240px) {
    background-image: linear-gradient(
      90deg,
      rgba(255, 179, 65, 1) 105px,
      rgba(255, 251, 242, 1) 105px
    );
  }
}

.landing-page-background-gradient {
  background-image: linear-gradient(
    90deg,
    rgba(255, 251, 242, 1) calc(50% + 16.5rem),
    rgba(255, 179, 65, 1) calc(50% + 16.5rem),
    rgba(255, 179, 65, 1) calc(50% + 16.5rem + 456px),
    rgba(255, 251, 242, 1) calc(50% + 16.5rem + 456px),
    rgba(255, 251, 242, 1) 100%
  );

  @media (max-width: 1240px) {
    background: rgba(255, 251, 242, 1)
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}



a {
  transition-duration: 0.2s;
  transition-property: all;
}

a:hover {
  font-weight: 600;
}

button:hover {
  transform: scale(1.05);
}

.calendly-inline-widget {
  height: 780px !important;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes scale-in-left {
  from {
    transform: scale(0);
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

@keyframes scale-in-center {
  from {
    transform: scale(0);
    transform-origin: 50% 50%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}

@keyframes animate-in-and-out {
	entry 0%  {
		opacity: 0; transform: translateY(100%);
	}
	entry 100%  {
		opacity: 1; transform: translateY(0);
	}

	exit 0% {
		opacity: 1; transform: translateY(0);
	}
	exit 100% {
		opacity: 0; transform: translateY(-100%);
	}
}


.card {
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
	to {
		transform:
			scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}

#cards {
	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;
}

.card__content {
	--start-range: calc(var(--index0) / var(--numcards) * 100%);
	--end-range: calc((var(--index)) / var(--numcards) * 100%);

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
}


.animate-slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}

.animate-scale-in-left {
  animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.animate-scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.animate-scale-in-center-1 {
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s both;
}

.animate-scale-in-center-2 {
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.animate-scale-in-center-3 {
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.animate-view {
	animation: linear animate-in-and-out;
	animation-timeline: view();
}